@import './mixins.scss';
@import './variables.scss';


.welcome-article {
    @include column;
    @include centered-content;
}

.button-link {
    background-color: $verde;
    border-radius: 10px;
    padding: 2px;
    color: black;
    :hover {
        background-color: $verde-oscuro;
        @include shadow($verde-oscuro);
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
    }

    &>a {
        color: black;
        text-decoration: none;
        :hover {
            font-size: 200px;
        }
    }
}

h3 {
    @include column;
}